%font-pt-sans400{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
%font-playfair-400{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
}
%font-playfair-700{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
}
%text-transform-upper{
  text-transform: uppercase;
}
a, button{
  cursor: pointer;
}
.header{
  &__timework{
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;

  }
  &__navigation{
    height: 80px;
    background-color: #0F0F0F;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .header-container{
    box-sizing: border-box;
    margin: auto;
    display: flex;
    max-width: 1105px;

    &__our-contact{
      display: flex;
      margin-right: 580px;
    }

    &__schedule{
      @extend %font-pt-sans400;
      color: #969696;
      font-size: 12px;
      line-height: 16px;
    }

    &__phone {
      margin-right: 16.31px;
      img{
        height: 13.33px;
        width: 13.36px;
      }
    }
    &__sign {

      a{
        margin-left: 14.37px;
        text-decoration: none;
        @extend %font-pt-sans400;
        font-size: 12px;
        line-height: 16px;
        color:#969696;

      }
    }




  }
  &__navigation{
    .container{
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1105px;
      .container img{

        height: 49px;
        width: 104px;
      }
    }
    nav{
      margin-left: 469px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a img{
      height: 16.501544952392578px;
      width: 16.501544952392578px;
    }
    a{
      display: block;
      margin: 31px 20px;
      font-size: 14px;
      line-height: 18px;
      align-items: center;
      text-align: center;

      text-decoration: none;
      @extend %font-pt-sans400;
      color: #969696;

    }
  }
}

.main{
  background: url("../images/background-main.png") no-repeat center;
  background-size: cover;
  height:810px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container{
    display: flex;
    max-width: 730px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;

  }
  &__head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    height: 320px;
    border: 4px solid #FFFFFF;
    margin-bottom: 80px;
    .sub-head{
      margin-top: 7px;
      @extend %font-pt-sans400, %text-transform-upper;
      color: #FFFFFF;

    }
  }
  &__head img{
    width: 185px;
    height: 86px;
    margin-bottom: 4px;
  }
  &__subheading{
    @extend %text-transform-upper, %font-pt-sans400;
    color: #FFFFFF;

    font-size: 16px;
    line-height: 150%;
  }
}
.devider{
  width: 179px;
  height: 2px;
  background-color: #FFFFFF;
}
.new-collection {
  display: flex;
  &__season2020 {
    display: flex;
    background-color: #000000;
    max-width: 1040px;
    .container {
      margin: 93px 80px 0px;
      &__collection {
        margin-top: 50px;
        display: flex;
        flex: 0 1 33.33%;
      }
    }


  }
  &__catalog {
    background: url("../images/man-with-watch.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 730px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
  }

  &__btn-catalog {
    background: transparent;
    color: white;
    height: 47px;
    width: 138px;
    text-align: center;
    @extend %font-pt-sans400, %text-transform-upper;
    font-size: 18px;
    line-height: 23px;
    border: 1px solid #FFFFFF;
    margin: 30px 0px 100px 0px;
  }
}
.block-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    @extend %font-playfair-700, %text-transform-upper;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 48px;
    &_mb-50{
      margin-bottom: 50px;
    }
    &_mb-30{
      margin-bottom: 30px;
    }
  }
}
.card-watch {
  display: flex;
  flex-direction: column;
  &_mr-50{
    margin-right: 50px;
  }

  &__image {
    background-color: #191B1C;
  }

  &__image img {
    width: 215px;
    height: 214px;
    margin: 55px 22px 56px 23px;
  }

  &__info {
    margin-top: 25px;
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  &__name {
    @extend %font-playfair-400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }

  &__price {
    @extend %font-playfair-700;
    color: #D0D0D0;
    font-size: 16px;
    line-height: 21px;

  }
}

